SECRET_KEY=colocar-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=contabilidad
POSTGRES_USER=contabilidad_app
POSTGRES_PASSWORD=colocar-password
DATABASE_URL=postgres://usuario:password@127.0.0.1:5432/contabilidad